body {
    background-color: rgb(255, 221, 127);
}

h1 {
    color:rgb(42, 116, 180);
    font-family: 'Courier New', Courier, monospace;
}

p {
    color:blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:rgb(100, 10, 10);
    color:rgb(100, 34, 95);
}
