body {
    background-color: rgb(255, 221, 127);
}

h1 {
    color:rgb(42, 116, 180);
    font-family: 'Courier New', Courier, monospace;
}

p {
    color:blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:rgb(100, 10, 10);
    color:rgb(100, 34, 95);
}


#boton_idioma  {
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     width: 20em;  
     height: 2em;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
}

#index_es {
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     width: 20em;  
     height: 2em;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
}
